<!DOCTYPE html>
<html>
  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- load main css stylesheet -->
  <link rel="stylesheet" type="text/css" href="http://ebook.youngnak.net/wp-content/themes/respo/style.css" media="screen" />
  <link rel="pingback" href="http://ebook.youngnak.net/xmlrpc.php" />
  <!-- google webfonts -->
  <link href='http://fonts.googleapis.com/css?family=Jockey+One|Quicksand:400,300,700|Terminal+Dosis:400,800,300,600|Sansita+One|Changa+One|Paytone+One|Dorsa|Rochester|Bigshot+One|Open+Sans+Condensed:300|Merienda+One|Six+Caps|Bevan|Oswald|Vidaloka|Droid+Sans|Josefin+Sans|Dancing+Script:400,700|Abel|Rokkitt|Droid+Serif' rel='stylesheet' type='text/css'/>
  
  <link rel="alternate" type="application/rss+xml" title="영락교회 이북 &raquo; 피드" href="http://ebook.youngnak.net/?feed=rss2" />
  <link rel="alternate" type="application/rss+xml" title="영락교회 이북 &raquo; 댓글 피드" href="http://ebook.youngnak.net/?feed=comments-rss2" />
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-includes/js/jquery/ui/jquery.ui.widget.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-includes/js/jquery/ui/jquery.ui.tabs.min.js?ver=1.10.4'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/functions/js/shortcodes.js?ver=1'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/js/jquery-1.6.1.min.js?ver=3.9.28'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/js/superfish.js?ver=3.9.28'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/js/jquery.hoverIntent.minified.js?ver=3.9.28'></script>
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/js/css3-mediaqueries.js?ver=3.9.28'></script>
  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://ebook.youngnak.net/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://ebook.youngnak.net/wp-includes/wlwmanifest.xml" /> 
  <meta name="generator" content="WordPress 3.9.28" />
  <link rel="shortcut icon" href="http://ebook.youngnak.net/wp-content/uploads/2014/05/favicon.ico"/>
  <!-- Themnific Shortcodes CSS -->
  <link href="http://ebook.youngnak.net/wp-content/themes/respo/functions/css/shortcodes.css" rel="stylesheet" type="text/css" />
  
  <!-- Themnific Styling -->
  <style type="text/css">
  
  .body2
  {background-color:#ffffff}
  
  .body3
  {background-color:#b3ac9f}
  .body3 {color:#000 !important}
  a:link, a:visited,#portfolio-filter a,#serinfo a {color:#585a66}
  .body3 a,.thumb-title h2 a {color:#000}
  a:hover,#serinfo a:hover {color:#8c8c8c}
  .nav a:hover,.nav>li.current_page_item a:hover, .nav>li.current_page_parent a:hover,.nav>a:hover, .nav>li.current_page_item>a, .nav>li.current_page_parent>a {border-bottom-color:#8c8c8c !important}
  
  .body2 a,a.body2 {color:#525252}
  
  .body2 a:hover,p.body2 a:hover
  {color:#858585}
  
  .body3 a:hover,.thumb-title h2 a:hover
  {color:#fff}
  #sidebar h2,ul#serinfo-nav li,#serinfo,ul.medpost li p,#sidebar .fblock,.searchform input.s {border-color:#ddd !important}
  body,#portfolio-filter a {text-shadow:0 1px 1px #fff}
  .body2 {text-shadow:0 1px 1px #fff}
  .body3 {text-shadow:0 1px 1px #fff}
  body {font:normal 13px/2.2em Georgia, serif;color:#53648f}
  .body2,#footer h3 {font:normal 15px/1.5em Verdana, Geneva, sans-serif;color:#2b2b2b}
  {font: px/1.5em ;color:}
  h1 {font:normal 28px/1.5em Georgia, serif;color:#222222}h2 {font:normal 24px/1.5em Georgia, serif;color:#222222}h3 {font:normal 20px/1.5em Georgia, serif;color:#222222}h4 {font:normal 16px/1.5em Georgia, serif;color:#222222}h5 {font:normal 14px/1.5em Georgia, serif;color:#222222}h6 {font:normal 14px/1.5em Georgia, serif;color:#222222}
  </style>
  <!-- Themnific Mobile CSS -->
  <link href="http://ebook.youngnak.net/wp-content/themes/respo/styles/mobile.css" rel="stylesheet" type="text/css" />
  
  
  </head>
  
  
  <body class="home blog">
  
  <div class="container">
  <div class="row">
  <div class="fourcol">
  <a href="#" title="">
  <img src="https://lh3.googleusercontent.com/v9huWNP-lEtUBHyz8Nqw2pJGQOq5q0gfra6zQn_pOiOI1F-911UhcKf3OCx2WkzIWq4TxpYqSIFoWMJVOpY7fhQnvPzHcE6EOonGFDVVMIoQ2A9OtD-cV0-QujZdebJCMiKKUNfgEeKXEoa9zamKAKXwxr6gS6B5XC6tqCilVPUxqgkXPxK8v5vtYWOWww9CnhPjRw7jawq6b15UCeou5WDgdht3GrNlkEpV-3o8wzxUCLtJJyUvJoApyfiXsq7W6fqAkds-PlonwkbP8Kei9Na4GPWJCOhUB6G1i_I69kj5zW1aBzV799fsqwMSELj_blNhMAWyUIAiLapgLStrYg_MQSxEDM4uS1_calK3ycv6EgTgkYTNIzXEGcC6ggwMernkiQ9EW5raqk0U2z3FooZcp8S4h9PrW_dvOC5kKtwypO1vEtK4oMAn7BlWvwooIkKnF50gq4voZI9tGKU40EPFBkhBZlRF2L3exNayqz_rvyxC8fcuceZHo2srIF2-TtuVJ-VpcZQBtSaZHuDcPbZHaY-_q2DEkACrY9x_jQEuj8Bz88fyIahp9D7IV72_Op636XvBn9BzIH9CLxK9Bh9Vth9VMfWBaJjrH0sB3bc0bTNI4LmDxj1EaqC6eeMpqNflSrneNZa7DWefOZLQxRui-e_t_8rOuOvaDOYZKIkGBcuTnr09ClQ=w192-h90-no" alt="영락교회" />
  </a>
  </div>
  </div>
  </div>
  
  
  <div id="core" class="container">
  <div class="row">
  
  <div class="twelvecol">
  <!--<div class="title_recent">
  <h2>영락교회 말씀묵상 기도집</h2>
  </div>-->
  
  
  <div style="padding:10px;;width:96%">
  
  <ul class="medpost index_recent">
  
  <li class="leftlist">																    
  <a href="/message/?BOOKTYPE=A" >
  <img class="bags" src="https://lh3.googleusercontent.com/8bGbjxbPaTnAI6gcr9MmRupzDoZziU1zRp_FYB3SHBLlyIKXxm8Hhd0phSsTvgVDF1dvJOyuIrWiE9Un1H86RLqWuz2u4c3RH4SKYGcXWi1jA8Ty6xBP8Ve8nsljR0bTxb0cC2ZVDKJFHp_mFDp50zv-80KIaKyArgfsljQKZ7314_PCKkbn_8F7rfZ78Zo-gJ7N9h_Y-lnArmrbRR8RS7VHpGM-PTD4K65JyWn7S56ZLIctrKaQgZH4-UQHhRv2l-wst78ZdOjyJUlqQYtP63VXhWDA2seTO7boMHvhCRj9QeBawE7MbmKp7UFgUYwX6TUL1-MVKJ2B5W9DWqTHeEqDIxMaIT9HSF0pRsmm9NuQ5sLthIALt5HliIYS7IhBV3NPcFjrJG33uF0ocYOMPM0SN2zicL6I1__iW2R5uDgfgGPUzlYx_XYLLNYRo8T40jNGpRp5nSTyVgyWrjCwQ3pMFrzhJtebLd66tpaiLcfdrfjZAS4YqXqHh9SPid9kSKpWpKm9xrHw_UsYDeAzenbQgcDg12WSiGQ_8Nwaq5vReZxCQceb0uS941i0u_Ow1OtvnRGQdc61NUHr1Rd9-WUS8__ttBIOwj7MXcBTO6et_itogvnMF_AxMYDvSV8dxi1ohO36zJR-O5D9IWD9Z4eavnIEIyKO3xRbnvIqFl02pQ2ijLfaOgA=w1210-h1736-no" alt="mannam"/></a>
  <p><h2 style="text-align: center;"><a href="/message/?BOOKTYPE=A" >말씀묵상기도집 1권</a></h2>
  
  </p></li>
  
  
  <li class="leftlist">																    
  <a href="/message/?BOOKTYPE=B" >
  <img class="bags" src="https://lh3.googleusercontent.com/6ifhvi00aGZqGEDlETFNfI3aGevIr2oi7mzLPZJhhBU32zOwQc8AAk8er1Yru3FkBEr3CofxAYGMJwZZdkBwASx5vvFcftmCmFbIyrFA4tkVXoeRVjBIEO-JRWlTXtk07ukQMkXpW5bNON9M4n-bSQQAsGBOW0enTnpDTtCBplRUuoDpXlf9UFiKcPO0a3iZm2oo2ZKA4QKwPsZE_czyvqbaiUIUHftDASXB-vGY44f6RXtMbIhJSlpQkdRpVdKBpBrBSkesUj84RJkaP4mWy_oVrsPhSLibGm7PqwmQKoPeS0Ou6em2Ba1PH3GPZYq4GPbFCoj8pEn0UCvajDKCsA7Thwjw_PiAZYGG2efnApUsCxu2wXz6IG9vIj4A1ZNaSJQjH8uchRT_0sD2bDToetccwezRRUiy6uDUUyUm734SW_9aMrc5IRvJPf70l9YzGcl8zMmJbeZZ_cRbtiK0tuHMbWpoSfjOBoYDyUp34PiWodEX60t7RxJMW1E9AISCA1lRBGYNljqxHbISrPHGsNlCPiNHSJAhcH4QNEp08zXSr_mdAiyzZfyBdTtgsT9KrYnePJFiRyU61xRSvUrr_G8xZSN-cT10icOQxVxqsyfxTQ5PXpEVUWtYiFBZRG2QJs1EguFYH_u0if_IXAxD_n2LJKeUvZ1xqYubCL8kNxlr8CURONckGbc=w1194-h1736-no" alt="2019_09_with_boy"/></a>
  <p><h2 style="text-align: center;"><a href="/message/?BOOKTYPE=B" >
  말씀묵상기도집 2권</a></h2>
  </p>
  </p></li>
  
  
  <li class="leftlist">																    
  <a href="/message/?BOOKTYPE=C" >
  <img class="bags" src="https://lh3.googleusercontent.com/oD4bbJSz4wA_k3ZQmKeOV1zDlUY-M1OPb4j5HJE0MgGQyNNrpTDT1RSdbpFrItIkbg-84i0cWOS_dmZit-w9h4DM1ozj3ZZ4lXppGMGw6J2pF_Ho303-nwqTVR2Xx18TQQmTX-K04N0MrH-Q_ZBqZ5jZgJ61e94n7z0mGIGapeKhyfCnYwKsACAgVZRrp0evzpYE_OoBXXg1BLbLVWOoWQeoQX0EaeeLgv7BkPNntHy4OrGsDKhHsl6Rpf0ridQ63QP0mmzIFCZd176jie8F6RpJJOyBM8sJ7u3n9zhNXJUWCdt2T0npka1uOU_z3rOG-AmF7_4qc59iei_OtHV0l91s57uJNjMfbZ6ii9o-fy8pEaIApbm43Rgc69CVynXqJj5zNBaiNIsNtd0Sn9kttFi_hFjN0onbgKQzS3vHPonRPr-PWCLj_7gooGDDX668AbW8sF-TcXaGYbZgyAQnyXT_9CwoxU7QlBmETcwU9-JWp6XBwWk5Vn3qwdWYSJFyyiw1DLzsLc5Uj7ZI5A1jMbstJ_P8a9qea5pSCLwaHpylgNc-sDniCIolXytDSJhryDbdZ5xhrbKkvBcKNozpwOmOQkYzaxCcRTrfYzWrYasNmgWfE6o4G4T1cb7j9qfeBgh8_IcYkxzXr48GF9lJXZDCecDf0_p0oeKmCCJNyUgbGENnKCUtUoE=w1238-h1736-no" alt="2019_09_with_child"/></a>
  <p><h2 style="text-align: center;"><a href="/message/?BOOKTYPE=C" >
  말씀묵상기도집 3권
  </a></h2>
  </p></li>
  
  
  <!-- end post -->
  </ul><!-- end latest posts section-->
  
  </div>
  
  <div style="clear: both;"></div>
  
  
  
  </div><!-- end #core .eightcol-->
  
  
  
  
  <div class="fourcol last">
  
  <div id="sidebar"> 
  
  
  <div style="clear: both;"></div>	
  </div><!-- /#sidebar -->        
  </div>
  </div><!--end #core .row-->
  
  
  <div style="clear: both;"></div>
  </div><!--end #core-->
  
  
  
  <div id="footer" class="body2">
  <div class="container">    
  
  
  
  
  
  
  <div class="row">      
  <div id="copyright" class="sixcol">
  </div>
  
  
  <div id="credit" class="sixcol last">
  <p>© 2019 영락교회 </p>			</div>
  
  </div>
  
  
  </div><!-- end #footer container -->
  </div><!-- /#footer  -->
  
  <script type='text/javascript' src='http://ebook.youngnak.net/wp-content/themes/respo/js/ownScript.js?ver=3.9.28'></script>
  
  </html>
  
</html>
